body {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  background-color: #fff5f5;
  color: #ce9797;
}

p {
  line-height: 1.6;
}


/* Logo */
.logo {
  position: relative;
  top: 15px;
  left: 10px;
  height: 25%;
  width: 25%;
}

/* Lady image */
.lady-image {
  position: absolute;
  top: 50px;
  left: 0;
  padding-top: 10px;
  max-width: 100%;
  height: auto;
}

.lady-image2 {
  display: none;
}

/* Heading */
h1 {
  position: relative;
  top: 300px;
  max-width: 100%;
  text-align: center;
  font-weight: 300;
  color: hsl(0, 36%, 70%);
  margin-bottom: 0;
  margin-top: 40px;
  letter-spacing: 10px;
  font-size: 40px;
}

.coming-soon {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  color: #413a3a;
  margin-top: 0;
}

/* Info text */
.info {
  position: relative;
  max-width: 100%;
  top: 300px;
  text-align: center;
  margin-right: 24px;
  margin-left: 24px;
  font-size: 14px;
}

/* Email button */
form {
  position: relative;
  top: 310px;
  left: 22px;
}

input {
  /* border: 1px solid #cfcfcf; */
  border-radius: 30px;
  cursor: pointer;
  color: #ce9797;
  padding: 15px;
  background-color: #fff5f5;
  width: 73%;
}

input:focus {
  outline: none;
}

input[type='email'] {
  font-size: 16px;
}

.email {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  border: 2px solid #cfcfcf;
}

.arrow:hover {
  background-image: linear-gradient(135deg, #fff5f5, #ce9797);
}

.arrow {
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  position: relative;
  top: 260px;
  margin-left: 240px;
  border-radius: 30px;
  width: 10px;
  height: auto;
  padding: 14px 34px;
}

::placeholder {
  color: #ce9797;
  opacity: 0.5;
}

/* Error - add a red highlight around the input for the warning */
.error-message {
  color: #ce9797;
  position: relative;
  top: 260px;
  margin-left: 50px;
  font-size: 10px;
}

.error-icon {
  position: relative;
  top: 186px;
  margin-left: 200px;
  height: 10px;
  width: 10px;
}

.error-border {
  border: 2px solid #f96262;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.hide {
  display: none;
}

/* Footer */
.attribution {
  width: 260px;
  height: 20px;
  text-align: center;
  margin-top: 280px;
  margin-left: 45px;
  font-size: 11px;
}


.attribution a {
  color: hsl(228, 45%, 44%);
}

/* For desktops */
@media only screen and (min-width: 768px) {
  body {
    width: 1400px;
    height: 740px;
  }

  .lady-image {
    display: none;
  }

  .lady-image2 {
    display: block;
    position: absolute;
    left: 58%;
    bottom: 0;
  }

  .logo {
    position: absolute;
    top: 8%;
    left: 12%;
    height: auto;
    width: 12%;
  }

  /* Heading */
  h1 {
    top: 200px;
    margin-left: 165px;
    max-width: 40%;
    text-align: left;
    letter-spacing: 20px;
    font-size: 70px;
  }

  /* Info text */
  .info {
    max-width: 30%;
    top: 210px;
    margin-left: 165px;
    text-align: left;
    font-size: 16px;
  }

  /* Email button */
  form {
    position: relative;
    top: 230px;
    margin-left: 133px;
  }

  input {
    padding: 19px;
    width: 28%;
  }

  .arrow {
    top: 171px;
    margin-left: 480px;
    width: 10px;
    height: auto;
    padding: 19px 50px;
  }

  ::placeholder {
    font-size: 16px;
  }

  /* error */
  .error-message {
    top: 170px;
    margin-left: 180px;
    font-size: 13px;
  }

  .error-icon {
    top: 82px;
    margin-left: 440px;
    height: 10px;
    width: 10px;
  }

  /* Footer */
  .attribution {
    position: fixed;
    width: 223px;
    text-align: center;
    margin-top: 450px;
    margin-left: 170px;
  }

  footer {
    height: 50px;
    margin-top: 240px;
  }
}
