body{
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  background-color: #fff5f5;
  color: #ce9797;
}
p {
  line-height: 1.6;
}
/* Logo */
.logo{
  position: relative;
  top: 15px;
  left: 10px;
  height: 25%;
  width: 25%;
}

/* Lady image */
.lady{
  position: absolute;
  top: 50px;
  left: 0;
  padding-top: 10px;
  max-width: 100%;
  height: auto;
}

/* Heading */
h1{
  position: relative;
  top: 300px;
  max-width: 100%;
  text-align: center;
  font-weight: 300;
  color: hsl(0, 36%, 70%);
  margin-bottom: 0;
  margin-top: 40px;
  letter-spacing: 10px;
  font-size: 40px;
}
.coming-soon {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  color: #413a3a;
  margin-top: 0;
}
 /* Info text */
 .info{
   position: relative;
   max-width: 100%;
   top: 300px;
   text-align: center;
   margin-right: 24px;
   margin-left: 24px;
   font-size: 14px;
 }
 /* Email button */
 form{
  position: relative;
  top: 310px;
  left: 30px;
  border: 1px solid #cfcfcf;
  border-radius: 30px;
  cursor: pointer;
  padding: 8px;
  max-width: 75%;
}
input{
  border: none;
  color: #ce9797;
  padding: 7px;
  width: 250px;
  background-color: #fff5f5;
}
.email {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}
.arrow {
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  position: relative;
  top: 265px;
  left: 258px;
  border-radius: 30px;
  width: 10px;
  height: auto;
  padding: 10px 26px;
}
/* Footer */
.attribution {
  font-size: 9px;
  text-align: center;
  position: relative;
  top: 280px;
}
.attribution a {
   color: hsl(228, 45%, 44%);
 }
