body{
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}
.attribution {
  font-size: 9px;
  text-align: center;
  position: relative;
  top: 230px;
  right: 65px;
}
.attribution a {
   color: hsl(228, 45%, 44%);
 }

.logo{
  position: relative;
  top: 15px;
  left: 10px;
  height: 25%;
  width: 25%;
}

.lady{
  position: absolute;
  top: 50px;
  left: 0;
  padding-top: 10px;
  max-width: 65%;
  height: auto;
}

.heading-part1{
  position: relative;
  top: 200px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-right: 130px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 5px;

}

.heading-part2{
  position: relative;
  top:200px;
  padding-top: 0;
  padding-right: 130px;
  margin-top: 0;
  text-align: center;
  letter-spacing: 5px;
}

.info{
  position: relative;
  max-width: 60%;
  padding-right: 30px;
  top: 200px;
  left: 5px;
  font-size: 11px;
  text-align: center;
}

.button{
  position: relative;
  top: 200px;
}
